<!DOCTYPE html>

<html xlmns:th ="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Inicio</div>
        <p th:text="${mensaje}"></p>
        <p th:text="${mensaje2}"></p>

        Nombre: <span th:text="${persona.nombre}"></span>
        Apellido: <span th:text="${persona.Apellido}"></span>
        Email: <span th:text="${persona.Email}"></span>



    </body>
</html>
